<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteCond %{QUERY_STRING} !raw
  RewriteCond %{REQUEST_FILENAME} -f
  RewriteCond %{HTTP_USER_AGENT} \+https:\/\/discordapp\.com\)$
  RewriteRule ^([^\/.]+\.(?:png|jpe?g|gif|webp))$ /embed.php?file=$1
</IfModule>
